/* CSS files add styling rules to your content */

body {
    font-family: 'Baskervville', serif;
    margin: 2em;
  }

  a{
    text-decoration: none;
    color: black;
  }
  
  a:active{
    text-decoration: none;
    color: gray;
  }
  
  h1 {
    color: black;
    font-size: 3rem;
  }
  
  h2 {
    margin-top: 2em; 
  }
  
  .question {
    display: flex;
    margin-top: 2em;
    text-align: center;
    padding-left: 8rem;
  }
  
  
  .result-button {
    margin-top: 5rem;
  }
  
  button {
    background: none;
    outline: none;
    border: none;
    opacity: .8;
  }
  
  button:focus {
    font-weight: bold;
  }

  .answer-choice{
      width: 25.5rem;
      
  }

  .largeText{
    font-size: 1.5rem;
  }

  .italicText{
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
  }

  #q1a1 {
    font-family:'Baskervville', serif;
    text-align: left;
    font-size: 1rem;
    overflow-wrap: break-word;
    padding-left: 8rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
  }

  #q1a2{
    font-family:'Baskervville', serif;
    text-align: left;
    font-size: 1rem;
    padding-left: 4rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
  }

  #q1a3{
    font-family:'Baskervville', serif;
    text-align: left;
    font-size: 1rem;
    overflow-wrap: break-word;
    padding-right: 1rem;
    padding-left: 8rem;
    padding-bottom: .5rem;
  }

  #q1a4{
    font-family:'Baskervville', serif;
    text-align: left;
    font-size: 1rem;
    overflow-wrap: break-word;
    padding-right: 1rem;
    padding-left: 8rem;
    padding-bottom: .5rem;
  }

  #q2a1 {
    font-family:'Baskervville', serif;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 1rem;
    padding-right: 3.3rem;
    padding-left: 0rem;
    padding-bottom: .5rem;
  }

  #q2a2{
    font-family:'Baskervville', serif;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 8rem;
    padding-bottom: .5rem;
  }

  #q2a3{
    font-family:'Baskervville', serif;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 8rem;
    padding-bottom: .5rem;
  }

  #q2a4{
    font-family:'Baskervville', serif;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 1rem;
    padding-right: 2rem;
    padding-left: 8rem;
    padding-bottom: .5rem;
  }

  #q3a1 {
    font-family:'Baskervville', serif;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 1rem;
    padding-right: 2.3rem;
    padding-left: 8rem;
    padding-bottom: .5rem;
  }

  #q3a2{
    font-family:'Baskervville', serif;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 8rem;
    padding-bottom: .5rem;
  }

  #q3a3{
    font-family:'Baskervville', serif;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 1rem;
    padding-right: 1.8rem;
    padding-left: 8rem;
    padding-bottom: .5rem;
    width: 26rem;
  }

  #q3a4{
    font-family:'Baskervville', serif;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 8rem;
    padding-bottom: .5rem;
  }

  #result{
      text-decoration: none;
      color: black;
  }

  .paragraph{
      font-size: 1rem;
      font-family:'Baskervville', serif;
      color: black;
      width: 60rem;
      padding-left: 8rem;
  }

  @media only screen and (max-width: 411px){
    body{
      margin: 0.5em;
    }

    .question{
      padding-left: 4rem;
    }

    .answer-choice{
      width: 22rem;
    }

    #q1a1{
      padding-left: 5rem;
    }

    #q1a2{
      padding-left: 5rem;
    }

    #q1a3{
      padding-left: 5rem;
    }

    #q1a4{
      padding-left: 5rem;
    }

    #q2a1{
      padding-left: 5rem;
    }

    #q2a2{
      padding-left: 5rem;
    }

    #q2a3{
      padding-left: 5rem;
    }

    #q2a4{
      padding-left: 5rem;
    }

    #q3a1{
      padding-left: 5rem;
    }

    #q3a2{
      padding-left: 5rem;
    }

    #q3a3{
      padding-left: 5rem;
    }

    #q3a4{
      padding-left: 5rem;
    }
  }